/*GERAL*/
body{
    background-color: black;
    color: white;
}

.externo{
    display: flex;
    height: 1000px;
    margin: auto;
}

.contatos{
    max-width: 150px;
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #8a898a;
    position: fixed;
}
.conteudos{
    margin: auto;
}
.apresentacao,
.habilidades,
.projetos,
.experiencia{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    height: auto;
    text-align: justify;
    margin-bottom: 100px;
}


/*ESPECIFICOS*/
.progress-bar{
    height: 15px;
    background-color: #ccc;
    display: flex;
}
.html::before{
    content: "";
    /* Por enquanto colocamos
      uma largura e uma cor
      com valores fixos
      */
    width: 65%;
    background-color: #1aff00;
}
.css::before{
    content: "";
    /* Por enquanto colocamos
      uma largura e uma cor
      com valores fixos
      */
    width: 52%;
    background-color: #1aff00;
}
.js::before{
    content: "";
    /* Por enquanto colocamos
      uma largura e uma cor
      com valores fixos
      */
    width: 40%;
    background-color: #1aff00;
}
  

.projetos li{
    list-style:none;
    margin: 10px;
    border-radius: 15px;
    background-color: #8a898a;
    width: 150px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
.projetos li:hover{
    background-color: black;
}
.projetos a{
    text-decoration: none;
    color: white;
}

.title-cont{
    height: 50px;  
    text-align: center;
    margin-top: 10%;
    margin-bottom: 50px;
}
.title-cont h3{
    border-bottom: 5px solid;
    width: 10%;
    align-self: center;
    margin-left: 10px;
}
.inst,
.linke,
.gith{
    height: 100px;
    text-decoration: none;
    margin: 0;
    text-align: center;
    display: flex;
}

a{
    justify-content: center;
    align-items: center;
}

.botao{
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #8a898a;
    border: none;
}
.botao:hover{
    background-color: black;
    color: white;
}

.experiencia p{
    text-align: center;
    margin-top: 100px;
}

.apresentacao{
    margin-top: 100px;
}
.apresentacao h1{
    border-bottom: 2px solid;
    width: 350px;
    margin-bottom: 50px;
    font-size: 42px;
}