/*:root{
    --cor1: #7b2cbf;
    --cor2: #5a189a;
    --cor3: #3c096c;
    --cor4: #240046;
    --cor5: #10002b;
    --cor6: #9d4edd;
    --cor7: #c77dff;
    --cor8: #e0aaff;
}*/
*{
    padding: 0;
    margin: 0;

}
body{
    background-color: black;
    color: white;
}

img{
    width: 100%;
    border-radius: 10% 0;
}

.apresentacao{
    width: 100%;
    padding: 100px 0px 100px 0px;
    background-image: url(/GitHub/protifolio-pessoal/img/fundo.png);
    background-size: cover;
    background-attachment: fixed;
    display: inline-flex;
}

.apres{
    margin-left: 5%;
}

.apres h1{
    font-size: 55px;
    margin-bottom: 15px;
}


.apres p{
    font-size: 30px;
}

.skils,
.projetos,
.experiencia{
    width: 100%;
    margin: auto;
    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.hab,
.proj,
.xp{
    flex-shrink: 1;
    margin: 10px;
    width: 200px;
    border: 1px solid;
    border-radius: 10% 0;
}
.button{
    position: fixed;
    float: right;
    top: 90%;
    right: 1%;
    flex: 1;
    align-self: flex-end;
    justify-content: end;
    display: flex;
    height: 50px;
    font-size: 19px;
}
.button a{
    text-decoration: none;
    align-self: flex-end;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid;

}
.button a:hover{
    color: rgb(134, 132, 132);
}

h2{
    width: 25%;
    font-size: 25px;
    border-bottom: 3px solid;
    margin: 25px 0px 25px 25px;
    text-align: center;
}



footer{
    text-align: center;
    padding: 15px 0px 15px 0px;
}

@media(max-width: 250px){
    .apres h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .apres p{
        font-size: 16px;
    }
    h2{
        width: 50%;
        font-size: 16px;
    }
    .button{
        font-size: 16px;
    }
}

@media(max-width: 145px){
    h2{
        width: 40%;
        font-size: 13px;

    }
}

/*----------TESTES----------*/

/*.skils{

    overflow-x: scroll;
}
.skils::-webkit-scrollbar{
    width: 1px;
}
.skils::-webkit-scrollbar-track{
    background: var(--cor3);
}
.skils::-webkit-scrollbar-thumb{
    background-color: var(--cor8);   
    border-radius: 20px;       
    border: 3px solid var(--cor3);
}
.txtHab{
    text-align: center;
    margin: 10px;
}*/