:root {
    --cor1: #473A5E;
    --cor2: #5702E0;
    --cor3: #260161;
    --cor4: #09080a;
    --cor5: #e3dfe7;

}
*{
    border: 1px solid;
}
/*GERAL*/
body{
    background-color: var(--cor4);
    color: var(--cor5);
    width: 97vw;
    height: 95vh;
    border: 2px solid red;
}
.container{
    max-width: 700px;
    margin: auto;
    border: 1px solid var(--cor3);
    display: flex;

}
.container-primario{
    width: 100%;
    max-width: 700px;
    margin: auto;
    border: 1px solid var(--cor3);
}
.cont,
.sk,
.pro{
    padding: 5px;
    margin: auto;
}
/*APRESENTAÇÃO*/

.apresentacao h1{
    text-align: center;
}
.apresentacao p{
    border-left: 5px solid;
    padding: 4px;
    margin: 20px;
}
/*CONTATO*/
.contatos{
    flex-wrap: wrap;
    align-content: center;
}
.cont a{
    position: relative;
    top: 15px;
    text-decoration: none;
    background-color: var(--cor2);
    color: var(--cor5);
    padding: 10px;
    border-radius: 15px;
    margin-top: 50px;
}
.cont{
    
    border: 1px solid aqua;
    height:50px;
}
/*SKILS*/
.sk{
    border-bottom: 3px solid var(--cor5); 
    border-left: 3px solid var(--cor5); 
    border-radius: 0px 10px;
}
/*PROJETOS*/
.projeto{
    
}
.pro{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid var(--cor3);
}
/*FOOTER*/
footer{
    text-align: center;
}